@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px; color:#707070; }
.bgcolor{ background:#f2f2f2;}
ul{ margin:0px; padding:0px;}
ul li{ margin:0px; padding:0px; list-style-type:none;}
a:link,a:visited {color:#707070;  text-decoration:none;font-size:20px;}
a:hover,a:active{color:#707070;   text-decoration:none;}
img{ border:0px;}


/*头部区域*/
.hd{ width:100%; height:100px; background:#fff; position:fixed; top:0; left:0; z-index:1; min-width:1200px; color:#666; box-shadow:0px 1px 1px #E1E1E1;}
.hd .inner{ width:1200px; height:100px; margin:0 auto;}
.hd .logo{float:left;margin-right:20px; margin-bottom:5px;  height:100px;}
.hd .logo img{height:100px;}
.hd nav{ float:left; margin-left:54px; }
.hd nav li{ float:left; margin-right:5px;}
.hd  li a{ box-sizing:border-box; text-decoration:none; font-size:17px; border-bottom:0px solid #FC0; line-height:106px; display:block; height:100px; padding-left:20px; padding-right:20px; color:#898989; transition: all .6s ease-out;}
.hd nav li a:hover,.hd nav li.active a{ border-bottom:4px solid #FC0; color:#FC0;}
.hd .inner .tel_buu{font-size:23px; font-weight:600; color:#898989; padding-left:33px; overflow:hidden; float:right;  height:103px; line-height:105px; display:block;background:url(../image/index_tel.png) left no-repeat; min-width:100px; transition: all .6s ease-out;}


/* 什么是补优优 */
.about_hfu{ width:100%; height:766px; background:url(../image/about_02.png) center; min-width:1200px; margin-top:60px;}

/* 补优优优势*/
.about_youshi{ height:750px; background-color:#FFF;}
.about_yous,.abot_bj_top{ width:797px;margin:auto; height:213px; padding-top:30px; background:none;}
.about_yo_1{ width:1200px;margin:auto; height:480px;}
.about_yo_1 ul{ list-style:none; height:480px;}
.about_yo_1 ul li{ font-family:"微软雅黑"; font-size:16px; width:320px; color:#707070; text-align:center; line-height:35px; float:left; margin-left:30px; margin-right:25px;}
.about_yo_1 ul li span{ float:left; width:320px;}

/* 补背景优*/
.abot_bj{ background:url(../image/about_22.png) #fff; height:766px; margin:auto; min-width:1200px;}

.abot_bj_wz{ font-family:"微软雅黑"; font-size:18px; width:810px; color:#707070;margin:auto; text-align:center;line-height:45px; background:none;  }
.abot_bj_imgz{ height:204px; width:1200px; margin: auto; padding-top:90px; background:none;}

/* 新闻动态*/
.news_banner{ height:509px; background:url(../image/news.png) center; width:100%; min-width:1200px;}
.new_list_title{background:#fff; border-bottom:#CCC 1px solid; margin:0px auto; text-align:center; width:100%;}
.new_list_lis{ margin:0px auto; width:300px;}
.new_list_lis ul{ margin:20px auto 0px auto;}
.new_list_lis ul li{ color:#707070;font-family:"微软雅黑"; font-size:20px; float:left; text-align:center;  padding-left:10px; padding-right:10px; height:55px;}
.new_list_lis ul li a{  display:block; height:100%;}
.new_list_lis ul li a:link,.new_list_lis ul li a:visited {color:#707070; font-size:20px; text-decoration:none;}
.new_list_lis ul li a:hover,.new_list_lis ul li a.active{color:#fcc800; font-size:20px;border-bottom:2px solid #fcc800; }
.new_list_lis ul ll .li_line{width:50px; font-size:25px; text-align:center; }
.clear{ clear:both;}

/* 新闻列表*/
.new_list{ width:100%; background:#f2f2f2; }
.new_list_one{ margin:0px auto;width:1200px; padding-top:24px;background:#f2f2f2;}
.new_list li{ width:576px; float:left; border:#000 1px solid; height:369px; background:#FFF; border:#CCC 1px solid; margin-right:10px; margin-left:10px; margin-bottom:20px;}
.new_list li .new_list_img{ width:536px; height:259px; margin:0 auto; padding-top:16px;}
.new_list li .title{ color:#707070;font-family:"微软雅黑"; font-size:20px; height:40px; width:535px; margin:0 auto; padding-top:10px;}
.new_list li .date{width:535px; margin:0 auto; padding-top:10px; height:30px; color:#707070;font-family:"微软雅黑"; font-size:15px; }
.new_list li .date span{ padding-left:22px;  position:relative;}
.new_list li .date img{ position:absolute;  left:0px; top:2px;}


/*CSS manu style pagination*/

div.digg {
	padding-right: 3px; padding-left: 3px; padding-bottom: 25px; margin: 3px; padding-top: 3px; text-align: center; background:none; 
}
div.digg a {
	border-right: #555555 1px solid; padding-right: 5px; border-top: #555555 1px solid; padding-left: 5px; padding-bottom: 2px; margin: 5px; border-left: #555555 1px solid; color: #555555; padding-top: 2px; border-bottom: #555555 1px solid; text-decoration: none
}
div.digg a:hover {
	border-right: #555555 1px solid; border-top: #555555 1px solid; border-left: #555555 1px solid; color: #000; border-bottom: #555555 1px solid
}
div.digg a:active {
	border-right: #555555 1px solid; border-top: #555555 1px solid; border-left: #555555 1px solid; color: #000; border-bottom: #555555 1px solid
}
div.digg span.current {
	border-right: #555555 1px solid; padding-right: 5px; border-top: #555555 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; margin: 2px; border-left: #555555 1px solid; color: #fff; padding-top: 2px; border-bottom: #555555 1px solid; background-color: #555555
}

/* 新闻详情页面*/
.new_details{background:#f2f2f2;  font-size:20px; font-family:"微软雅黑"; padding-top:15px; min-width:1200px; margin-bottom:15px; padding-bottom:10px; }
.new_details_1{ width:1200px; background:#FFF; margin:0 auto;box-shadow:1px 1px 1px 1px #D7D7D7;}
.new_details_titile{ width:800px; margin:0 auto; text-align:center; padding-top:25px; font-size:20px; font-weight:bold; }
.new_details_tade{ width:400px ; margin:0 auto; font-size:14px; padding-top:20px;}
.new_details_tade span{ position:relative; padding-left:22px;}
.new_details_tade span img{ position:absolute; top:2px; left:0px;}
.new_details_1 .line{ width:1100px; height:110px; border-bottom:#CCC 1px solid; margin:5px auto;}

.new_details_content{ width:800px; margin:0 auto;padding-top:20px; font-size:14px; line-height:25px;}
.new_details_content img{ padding-top:20px;}



/* 维修项目*/
.projects_banner{ height:509px; background:url(../image/pejieo.png) center; width:100%; min-width:1200px;}
.project{background:#fff; border-bottom:#CCC 1px solid; margin:0px auto; text-align:center; width:100%; min-width:1200px; }
.project_lis{ margin:0px auto; min-width:1200px; width:100%; background:#fff;}
.project_lis ul{ margin:20px auto 0px auto; max-width:1200px;}
.project_lis ul li{ font-family:"微软雅黑"; font-size:20px;  float:left; text-align:center;  padding-left:30px; padding-right:20px; height:55px; min-width:120px; }
.project_lis ul li a{  display:block; height:100%; padding:0px; }
.project_lis ul li a:link,.project_lis ul li a:visited {color:#7b7b7b ;  font-size:20px; text-decoration:none;}
.project_lis ul li a:hover,.project_lis ul li a.active{ padding:0px; color:#fcc800; font-size:20px;border-bottom:3px solid #fcc800; box-sizing:border-box; }
.project_lis ul li.li_line{ font-weight: width:120px; font-size:20px; text-align:center; color:#dddddd; font-family:Arial, Helvetica, sans-serif; }
.clear{ clear:both;}

/* 维修项目九宫格*/
.project_nine{ width:1200px; margin:0 auto;}
.project_nine li{ background:#FFF; margin:0 auto; height:205px; width:340px;float:left; margin-top:30px; margin-bottom:0px; margin-left:25px; padding-right:25px;}
.project_nine li img{ margin:0 auto; height:155px; width:147px; display:block; margin-top:25px;}
.project_nine li a:link,.project_nine li a:visited {  border:#CCC 1px solid; display:block; height:200px; width:365px; }
.project_nine li a:hover,.project_nine li a:active {  border:#fcc800 1px solid;display:block; }


/* 维修项弹出框*/
.project_box{background-color:#000; position:fixed; z-index:9999;  left:0px; top:0px; width:100%; height:100%;opacity: 0.6; filter: alpha(opacity=60); display:none; }
.project_popue{ height:520px; width:580px; background:#fed100; margin: 0 auto;border-radius:15px; display:none; position:fixed; left:50%; margin-left:-290px; top:50%; margin-top:-262.5px; z-index:9999;}
.project_popue_top{ background:none; width:530px; height:50px; padding-top:10px; margin:0 auto;  overflow:hidden; }
.project_popue_title{background:none;  font-family:"微软雅黑"; font-size:25px; color:#3b3b3b; display:block; width:480px;float:left; text-align:left; }
.project_popue_title1{ width:35px; float:right; cursor:pointer; background:none; }
.project_popue_bj{ background:#FFF; width:530px; height:400px; margin:0 auto;}
.project_popue_bj img{ margin:0 auto; width:429px; height:331px; display:block; padding-top:30px;}
.project_bottm{ width:266px; height:39px; margin:0 auto; margin-top:10px;}
/*快速下单*/
.order_bj{ background:#f2f2f2; padding:10px 0px;min-width:1200px;overflow:hidden;}
.order{  margin:10px auto; border:#CCC 1px solid; background:#fff; width:100%; width:1200px; padding-top:15px; padding-bottom:15px;  }
.order img{ width:956px; margin:0 auto; display:block; }


/*服务流程*/
.process_bj{ background:#f2f2f2;  padding-top:25px; padding-bottom:25px; min-width:1200px; }
.process{width:1200px; margin:0 auto; border:#CCC 1px solid; background:#fff; padding-top:15px; padding-bottom:15px;}
.process img{ max-width:759px; margin:0 auto; display:block; }

/*服务价格页面*/

.service_nine{ width:1160px; margin:0 auto; background:#FFF; margin-top:20px; }

.service_lien{ width:1160px; margin:0 auto;border:1px solid #ccc; border-bottom:0px; }
.service_lien li{clear:both; display:block; position:relative; height:46px;}
.service_lien li a{ font-size:20px; display:block;width:100%;overflow:hidden;  height:45px; line-height:165%;border-bottom:1px solid #CCC; background:url(../image/svreive_03.png) 97% center no-repeat;}
.service_lien li a img{ padding-left:25px; padding-top:7px; padding-right:6px;}
.service_lien li a:hover{position:absolute; top:-1px; left:-1px; width:100%;border:1px solid #fcc800;background:url(../image/svreive_16.png) 97% center no-repeat #f1f1f1; }




/*---加盟补优优---*/
.jmbuu_box{ background:#f1f1f1; width:1000px; margin:10px auto; border:1px solid #dad9d9; padding:30px 45px;}
.jmbuu_box p{ background:none; line-height:35px; margin:0px; padding:0px; font-weight:800; color:#8d8989;}
.jmbuu_box_hder b{ width:10px; height:10px;  background:#fcbc34; display:inline-table; margin-right:5px;}
.jmbuu_box .jmbuu_title{ margin-top:30px; width:1000px; height:40px; line-height:40px; color:#fff; font-size:17px; background:#fcbc34; text-align:center;}

.input_style{    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:15px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:8px;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;}
.input_style:focus {
     border: 1px solid #fcbc34;
    -webkit-box-shadow: 0px 0px 6px #fcbc34;
     -moz-box-shadow: 0px 0px 5px #fcbc34;
     box-shadow: 0px 0px 5px #fcbc34;   
    
}

.jmbuu_submit{ width:900px; margin:20px auto; padding:3px 10px; background:none; }
.jmbuu_submit div{ height:50px; line-height:50px; width:100%; display:block; clear:both;background:none;}
.jmbuu_submit div label{ width:30%; float:left;  height:50px; display:block; text-align:right; font-weight:bold;}
.jmbuu_submit div  p{ width:69%; float:right;  height:30px; margin-top:10px;}
.jmbuu_submit div p input[type=text]{ width:350px;}
.sendecode{ background:#de0102; color:#fff; text-align:center; border:0; height:30px; border-radius:3px; cursor:pointer;}
.submit_btn{ cursor:pointer; width:200px; color:#fff; height:35px; background:#fcbc34; border-radius:5px; margin:10px auto; border:0px; padding:10px; font-size:16px; font-weight:bold;}
.sendecode:disabled{background:#ccc;}
.jmbuu_submit font{ color:#F00;}
/*--工人招募---*/
.zmdr_list{ min-width:1200px; margin:5px auto;}
.grzm_box{ width:850px; margin:15px auto;}
.grzm_box li{ text-align:center; *float:left !important; display:inline-table; width:31%; margin:10px 1%; }
.grzm_box li a{padding-top:25px; padding-bottom:15px; border:1px solid #dcdddd; display:block; box-sizing:border-box; }
.grzm_box li a:hover{ border:1px solid #fcc800; box-shadow:0px 0px 1px #F90;}
.grzm_box li b{ display:block; height:30px;  padding:5px;}
.grzm_box li span{ display:block; width:200px; background:#fcc800; border-radius:20px; margin:10px auto; color:#fff; font-size:15px; padding:5px; }

.zmdr_show_box{ position:relative;text-align:center; width:485px; position:fixed; top:50%; margin-top:-194.5px; left:50%; margin-left:-242.5px; background:#fed100; z-index:9999; border-radius:10px; padding-top:60px;}
.zmdr_box_img{ position:absolute; left:10px; top:-94px;width:150px;}
.zmdr_show_box_close{ position:absolute; float:right; display:block; float:right; background:url(../image/objei_03.png); right:20px; width:30px; height:31px; *width:35px; *height:35px; top:15px; background-size:30px 31px;  }
.zmdr_contain{ padding:20px 30px; height:300px; overflow:auto; color:#8b8b8b; width:80%; margin:0px auto; 

}
.zmdr_contain p{ color:#8e8e8e;font-size:16px;text-align:left; border-bottom:1px solid #CCC; line-height:25px; font-size:13px;}
.zmdr_contain p b{ font-size:16px; *float:left;}
.zmdr_p_content{ padding:10px 0px; font-style:inherit;}
.zmdr_tel{ padding:5px; margin:0px auto; }
.zmdr_contain .zmdr_p_header{ height:35px; line-height:40px;  overflow:hidden; }
.zmdr_p_header span{ float:right; font-size:14px;}